@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// SCSS variables
$primary-1: #6dd5be;
$primary-2: #31ab90;
$primary-3: #39c5a6;
// Generic css
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

*:focus {
  outline: none !important;
}

*:active {
  outline: none !important;
}

// Generic end
// Navbar
.nav-links {
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  padding-bottom: 1.5rem;
}

.hamburger {
  fill: $primary-1;
}

.hamburger:hover,
.hamburger:active {
  fill: $primary-2;
  outline-color: $primary-2;
}

#nav-toggle {
  outline-color: #afe8db !important;
}

#nav-toggle:focus,
#nav-toggle:active {
  outline-color: #afe8db !important;
}

.highlight-sm {
  font-size: 30px;
  background-image: linear-gradient(to right, transparent 50%, white 50%);
  background-origin: 0;
  background-size: 201% 23%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.1s;
}

.highlight:hover {
  background-position: -100% 100%;
}

.highlight-sm:hover {
  background-position: -100% 100%;
}

// Navbar end

@layer components {
    .footer-org {
        @apply text-gray-700 bg-primary-500
    }
    ;
    .footer-content {
        @apply container px-4 py-2 mx-auto flex items-center flex-col
    }
    ;
    .logo-footer {
        @apply flex font-semibold items-center justify-center text-gray-700
    }
    ;
    .icon-org {
        @apply inline-flex mt-4 justify-center
    }
    ;
    .github-icon {
        @apply flex flex-col w-12 h-12 rounded-lg text-white text-xs self-center m-2 py-1
    }
    ;
    .land-pres {
        @apply h-20 w-20 inline-flex items-center justify-center rounded-full text-blue-500 flex-shrink-0
    }
    ;
    .admin-card {
        @apply col-span-2 flex shadow-sm rounded-md
    }
    ;
    .user-card {
      @apply flex-shrink-0 flex items-center justify-center w-16 text-white text-sm font-medium rounded-l-md
    }
    ;
    .uc-org {
      @apply col-span-1 flex shadow-sm rounded-md
    }
    ;
    .uc-form {
      @apply flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md
    }
    ;
    .el-sidebar {
      @apply text-gray-600 group flex items-center px-2 py-2 text-sm font-medium rounded-md
    }
    ;
    .recipe-input {
      @apply text-2xl md:text-2xl font-light leading-normal
    }
    ;
    .plan-line {
      @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
    }
    ;
}
@variants hover {
  .el-sidebar:hover {
    @apply text-white bg-primary-800
  }
  ;
}

// Tailwind components end
// Media queries
@media (min-width: 640px) {
  .nav-links:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    /* or 100px */
    border-bottom: 8px solid $primary-1;
    .submit-xs {
      width: 15%;
    }
  }
  .highlight {
    font-size: 30px;
    background-image: linear-gradient(
      to right,
      transparent 50%,
      $primary-1 50%
    );
    background-origin: 0;
    background-size: 201% 23%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.1s;
  }
}

// Media queries end
// Miscellaneous
.bg-warning {
  background-color: #de734e;
}

// // Miscellaneous end
// Forms
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 35px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.input:focus {
  box-shadow: inset 0px 0px 0px 2px $primary-1;
}

.cut {
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.cut-large {
  width: 100px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #9ca3af;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #9ca3af;
}

.input:focus ~ .placeholder {
  color: $primary-2;
}

.submit {
  background-color: $primary-1;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  transition: $primary-2 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.submit-warning {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.submit-sm {
  width: 50%;
}

.submit-xs {
  width: 25%;
}

.submit:active {
  background-color: $primary-2;
}

.submit:hover {
  transition: $primary-3 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: $primary-3;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.submit:focus {
  background-color: $primary-2;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.submit-warning:active {
  background-color: #d97706;
}

.submit-warning:hover {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
  background-color: #f59e0b;
}

.submit-warning:focus {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.nice-btns:active {
  background-color: #d97706;
}

.nice-btns:active {
  background-color: $primary-2;
}

.nice-btns:hover {
  background-color: $primary-1;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.nice-btns:focus {
  background-color: $primary-2;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.days-list:hover {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.days-list:focus {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.nice-btns:active {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

::-webkit-input-placeholder {
  /* Edge */
  color: lightgray;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.box-shadow-custom {
  box-shadow: inset 0px 0px 0px 2px #f3f4f6;
}

::placeholder {
  color: #31ab90;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  /* Edge */
  opacity: 1;
}

input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 1;
}

input:focus::placeholder {
  opacity: 1;
}

// landing page
.chief {
  height: 560px;
  width: 468px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tlweb {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
