/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require main
 
 */

/* Bulma variables */
$warning: rgb(255, 192, 23);
$navbar-item-img-max-height: 4rem;
$black: #080808;

nav {
  padding: 0.8rem 0;
  border-bottom: 1px solid black;
}

.navbar-item {
  line-height: 20px;
}

.hero-body {
  border-bottom: 1px solid black;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active .get-started:focus,
.get-started:focus-within,
.get-started:hover,
.get-started.is_active {
  background-color: $warning !important;
  color: #080808 !important;
}

@import "bulma";
