// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url(background.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #ffffff;
}

.primary-btn {
  margin: 0 auto;
}

.lead-text {
  margin: 0 auto;
  font-family: "Amatic SC", cursive;
  font-size: 120px;
}

.headline {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.08em;
}
